
.daterangepicker {
  padding: 10px;
  margin-top: 5px; }

.daterangepicker .daterangepicker_input .input-mini {
  height: auto;
  padding: 0.65rem 1.25rem;
  padding-left: 2.45rem;
  line-height: 1.25; }

.daterangepicker td,
.daterangepicker th {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  vertical-align: middle;
  line-height: 0; }

.daterangepicker thead .fa.fa-chevron-right,
.daterangepicker thead .fa.fa-chevron-left {
  display: inline-block;
  font: normal normal normal 16px/1 "LineAwesome";
  font-size: inherit;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.daterangepicker thead .fa.fa-chevron-left:before {
  content: "\f111"; }

.daterangepicker thead .fa.fa-chevron-right:before {
  content: "\f112"; }

.daterangepicker thead th {
  font-weight: 500; }

.daterangepicker thead th.prev,
.daterangepicker thead th.next {
  font-size: 1.3rem; }

.daterangepicker tbody td.in-range.start-date.today {
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.daterangepicker tbody td.in-range.end-date.today {
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }

.daterangepicker tbody td.today.in-range,
.daterangepicker tbody td.today {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative; }

.daterangepicker tbody td.today.in-range:before,
.daterangepicker tbody td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #ffffff;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.ampmselect {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.35rem 0.75rem;
  outline: none !important; }

.daterangepicker .calendar-time {
  margin: 15px 0 5px 0; }

.daterangepicker .calendar-time select.hourselect,
.daterangepicker .calendar-time select.minuteselect,
.daterangepicker .calendar-time select.ampmselect {
  width: 70px; }

.daterangepicker .calendar-time i {
  left: 3px;
  top: 5px;
  display: inline-block;
  font: normal normal normal 16px/1 "LineAwesome";
  font-size: 1.4rem;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.daterangepicker .calendar-time i:before {
  content: "\f18f"; }

.daterangepicker .ranges {
  padding: 10px;
  margin: 5px 5px 5px 10px; }

.daterangepicker .ranges ul {
  width: 210px; }

.daterangepicker .ranges ul li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-weight: 400;
  border-color: transparent; }

.daterangepicker .ranges .range_inputs {
  margin-top: 15px; }

.daterangepicker .ranges .range_inputs .btn {
  padding: 0.6rem 1.6rem;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  margin-right: 6px; }

.daterangepicker .daterangepicker_input .input-mini {
  height: auto;
  border: 1px solid #ebedf2; }

.daterangepicker .daterangepicker_input .input-mini.active,
.daterangepicker .daterangepicker_input .input-mini:focus {
  border: 1px solid #9a46ff; }

.daterangepicker .daterangepicker_input i {
  color: #b2b1c5; }

.daterangepicker thead th.prev:hover,
.daterangepicker thead th.next:hover {
  background: #ebedf2; }

.daterangepicker tbody td.available:hover,
.daterangepicker tbody td:hover {
  background: #ebedf2; }

.daterangepicker tbody td.off {
  color: #7b7e8a; }

.daterangepicker tbody td.available {
  color: #575962; }

.daterangepicker tbody td.in-range {
  background: white; }

.daterangepicker tbody td.in-range.active,
.daterangepicker tbody td.active {
  background: #36a3f7;
  color: #ffffff; }

.daterangepicker tbody td.in-range.active:hover,
.daterangepicker tbody td.active:hover {
  background: #36a3f7; }

.daterangepicker tbody td.today.in-range,
.daterangepicker tbody td.today {
  background: #828ee6;
  color: #ffffff; }

.daterangepicker tbody td.today.in-range:before,
.daterangepicker tbody td.today:before {
  border-bottom-color: #ffffff;
  border-top-color: rgba(0, 0, 0, 0.2); }

.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.ampmselect {
  border: 1px solid #ebedf2; }

.daterangepicker select.monthselect.active,
.daterangepicker select.monthselect:focus,
.daterangepicker select.yearselect.active,
.daterangepicker select.yearselect:focus,
.daterangepicker select.hourselect.active,
.daterangepicker select.hourselect:focus,
.daterangepicker select.minuteselect.active,
.daterangepicker select.minuteselect:focus,
.daterangepicker select.ampmselect.active,
.daterangepicker select.ampmselect:focus {
  border: 1px solid #9a46ff; }

.daterangepicker .calendar-time i {
  color: #b2b1c5; }

.daterangepicker .ranges li {
  font-size: 14px;
  border: 1px solid #ebedf2;
  color: #7b7e8a; }

.daterangepicker .ranges li:hover {
  background: transparent;
  color: #7b7e8a;
  background: #f9f9fd; }

.daterangepicker .ranges li.active {
  background: #9a46ff;
  color: #ffffff;
  border: 1px solid #9a46ff; }
